name: Release
on: 
  push:
    tags: 
      - '*'

jobs:
  scons: 
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install scons
        run: pip install scons
      - name: install markdown
        run: pip install markdown
      - name: Update packages
        run: sudo apt-get update
      - name: Install gettext
        run: sudo apt-get install gettext
      - name: Generating Addon
        run: scons
      - name: Generating pot file
        run: scons pot
      - name: get the last tag
        id: get-latest-tag
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
      - name: Create a file with the version number
        run: touch version_filezilla.txt && echo '${{ steps.get-latest-tag.outputs.tag }}' >> version_filezilla.txt
      - name: Upload the nvda add-on 
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.USER_SFTP }}
          server: ${{ secrets.HOST_SFTP }}
          port: ${{ secrets.PORT_SFTP }}
          local_path: './*.nvda-addon'
          remote_path: '/var/www/nvda/addons/addons/filezilla'
          sftp_only: true
          password: ${{ secrets.MDP_SFTP }}
      - name: upload the version file
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.USER_SFTP }}
          server: ${{ secrets.HOST_SFTP }}
          port: ${{ secrets.PORT_SFTP }}
          local_path: './version_filezilla.txt'
          remote_path: '/var/www/nvda/addons/addons/filezilla'
          sftp_only: true
          password: ${{ secrets.MDP_SFTP }}
      - name: add file in release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            *.nvda-addon
            *.pot
          body_path: changelog.md
      - name: upload the documentation
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.USER_SFTP }}
          server: ${{ secrets.HOST_SFTP }}
          port: ${{ secrets.PORT_SFTP }}
          local_path: './addon/doc'
          remote_path: '/var/www/nvda/addons/addons/filezilla'
          sftp_only: true
          password: ${{ secrets.MDP_SFTP }}